@import "tailwindcss";

.bg-img {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.bg-img1{
    margin: 0 auto;
}
.header{
    padding: 10px 80px;
    margin-bottom: 20px;
}
.input{
    padding: 5px 20px;
    /* outline: white; */
    border: 1px solid rgb(120, 120, 120);
    caret-color: white;
    color: white;
}
.input::placeholder{
    color: rgb(137, 137, 137);

}
.search-icon{
    width: 70px;
    color: rgb(236, 236, 236);
    padding:7px 0;
}
.main{
    padding:20px 35px;
}
.aqi{
    padding: 15px 35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.time{
    margin:0 0 8px 10px
}
.temp{
    margin: 10px 65px 0 0;
}
.city{
    margin: 0 0 0 35px;
}
.sunrise{
    padding: 17px 45px;
}
.city1{
    margin-top: -55px;
}
.icon{
    margin-top: -25px;
}
.coming{
    /* position: absolute; */
    margin-top: -70px;
    /* z-index: 99; */
}
.days{
    padding: 5px 25px 10px 25px;
    border-bottom: 1px solid rgb(114, 114, 114);
}
.comingdays{
    margin: 15px 75px;
    border-radius: 20px;
    padding: 5px 15px;
}
.hour{
    padding: 10px 20px
}
.para{
    margin-top: -10px;
}
.cards{
    margin: 25px 25px;
}
.temp-icon{
    margin-top: -20px;
}
.aqi-rise{
    margin-top: -40px;
}
.heading{
    background: linear-gradient(to right,
            #c8934e 0%,
            /* soft peach from the sun glow */
            #f2a955 20%,
            /* warm beige clouds */
            #65cef8 50%,
            /* light sky blue */
            #2794aa 75%,
            /* sea turquoise */
            #095b79 100%
            /* deep ocean blue */
        );
        color: rgba(0,0,0,0.1);
        background-clip: text;
}